// colors

$color-1: #780001; // light red
$color-2: #1e0001; // dark red
$color-3: #6a6a6a; // Dark Grey
$color-4: #bfbfbf; // Light Grey
$white: #FFFFFF; // White
$black: #000000; // Black

$color-bg: #340000;
$color-box: #8E0000;


$firstcolor-1: #530011; // light orange
$firstcolor-2: #8A1D21; // dark orange

$secondcolor-1: #8A1D21; // light purple
$secondcolor-2: #701722; // dark purple

// fonts 

$primary-font: 'Amatic SC', cursive;
$secondary-font: 'Quicksand', sans-serif;